{:deps {:aliases [:dev]}
 :dev-http {9090 ["resources/public" "classpath:public"]}
 :builds
 {:app
  {:target :browser
   :modules {:main {:init-fn dataspex.dev/main}}
   :dev {:output-dir "resources/public/app"}
   :release {:output-dir "target"}}

  :remote-inspector
  {:target :browser
   :modules {:inspector {:init-fn dataspex.remote-inspector/main}}
   :dev {:output-dir "resources/public/dataspex"}}

  :browser-extension
  {:target :browser
   :modules {:extension {:init-fn dataspex.browser-extension/main}}
   :dev {:output-dir "browser-extension"}
   :release {:output-dir "browser-extension"}}

  :portfolio
  {:target :browser
   :modules {:main {:init-fn dataspex.scenes/main}}
   :dev {:output-dir "dev-resources/public/portfolio"}}}}
