/* Default theme */
:root {
  --white: #fff;
  --wild-sand: #f5f5f5;
  --gallery: #f0f0f0;
  --selago: #ebf2fc;
  --mercury: #e6e6e6;
  --dusty: #999;
  --dove-gray: #666;
  --mine-shaft-light: #363636;
  --mine-shaft: #252525;
  --woodsmoke: #18181a;
  --black: #000;
  --apricot: #eb8763;
  --bright-sun: #fdca40;
  --chelsea-gem: #9e5a00;
  --denim: #1166c8;
  --guardsman-rojo: #c80000;
  --guardsman-rojo-light: #c8000011;
  --sangria: #a00000;
  --maroon: #800000;
  --malibu: #86bdfa;
  --cornflower-blue: #4f9ff8;
  --tropical-blue: #d0e3fa;
  --san-felix: #166d09;
  --la-palma: #25a711;
}

:root, .light {
  background: var(--white);
  color: var(--mine-shaft);
  --subtle-color: var(--dove-gray);
  --code-background: var(--gallery);
  --code-text-shadow-color: var(--white);
  --string-color: var(--san-felix);
  --number-color: var(--woodsmoke);
  --keyword-light-color: var(--maroon);
  --keyword-color: var(--guardsman-rojo);
  --keyword-namespace-color: var(--sangria);
  --id-color: var(--sangria);
  --class-color: var(--maroon);
  --symbol-color: var(--woodsmoke);
  --symbol-namespace-color: var(--guardsman-rojo);
  --boolean-color: var(--chelsea-gem);
  --comment-color: var(--dove-gray);
  --punctuation-color: var(--dusty);
  --link-color: var(--denim);
  --pill-bg: var(--gallery);
  --pill-bg-hover: var(--mercury);
  --pill-border: var(--mercury);
  --row-hover: var(--selago);
  --row-border-color: var(--selago);
  --button-border-color: var(--mine-shaft-light);
  --button-bg: var(--wild-sand);
  --button-hover-bg: var(--tropical-blue);
  --navbar-border: var(--selago);
  --toolbar-bg: var(--wild-sand);
  --active-tab-border: var(--malibu);
  --tab-hover-bg: var(--mercury);
  --code-bg: var(--wild-sand);
  --disabled-icon-button-color: var(--dusty);
  --code-selection-bg: var(--malibu);
  --tag-bg: var(--wild-sand);
  --tag-border-color: var(--mercury);
  --error-bg: var(--guardsman-rojo-light);
  --error-fg: var(--guardsman-rojo);
  --error-color: var(--guardsman-rojo);
  --success-fg: var(--san-felix);
  --active-card-bg: var(--wild-sand);
  --active-card-hover-bg: var(--mercury);
}

.dark {
  background: var(--woodsmoke);
  color: var(--mercury);
  --subtle-color: var(--selago);
  --code-background: var(--mine-shaft);
  --code-text-shadow-color: var(--black);
  --string-color: var(--apricot);
  --number-color: var(--white);
  --keyword-light-color: var(--tropical-blue);
  --keyword-color: var(--malibu);
  --keyword-namespace-color: var(--cornflower-blue);
  --id-color: var(--cornflower-blue);
  --class-color: var(--tropical-blue);
  --symbol-color: var(--white);
  --symbol-namespace-color: var(--malibu);
  --boolean-color: var(--bright-sun);
  --comment-color: var(--dusty);
  --punctuation-color: var(--dove-gray);
  --link-color: var(--malibu);
  --pill-bg: var(--mine-shaft);
  --pill-bg-hover: var(--mine-shaft-light);
  --pill-border: var(--mine-shaft-light);
  --row-border-color: var(--mine-shaft);
  --row-hover: var(--mine-shaft);
  --button-border-color: var(--dove-gray);
  --button-bg: var(--mine-shaft-light);
  --button-hover-bg: var(--mine-shaft);
  --navbar-border: var(--mine-shaft);
  --toolbar-bg: var(--mine-shaft-light);
  --tab-hover-bg: var(--mine-shaft);
  --tab-fg: var(--gallery);
  --code-bg: var(--mine-shaft);
  --disabled-icon-button-color: var(--dusty);
  --code-selection-bg: var(--malibu);
  --tag-bg: var(--mine-shaft);
  --tag-border-color: #08080a;
  --error-bg: var(--guardsman-rojo-light);
  --error-fg: var(--maroon);
  --error-color: var(--guardsman-rojo);
  --success-fg: var(--la-palma);
  --active-card-bg: var(--mine-shaft);
  --active-card-hover-bg: var(--mine-shaft-light);
}

/* Basic styling */

html {
  font-family: helvetica neue, lucida grande, sans-serif;
}

.code, [data-type], .source {
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  font-size: 0.9rem;
}

.dark button {
  color: var(--mercury);
}

button {
  background: none;
  border: none;
  font-size: inherit;
  padding: 0;
}

body, pre {
  padding: 0;
  margin: 0;
}

.strong {
  font-weight: bold;
}

/* Utilities */

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.center {
  justify-content: center;
  gap: 12px;
}

.grow {
  flex-grow: 1;
}

.gap-2 {
  gap: 0.5em;
}

/* Color schemes */
[data-color=error] {
  color: var(--error-color);
  --string-color: var(--error-color);
  --symbol-color: var(--error-color);
  --symbol-namespace-color: var(--error-color);
  --number-color: var(--error-color);
  --keyword-color: var(--error-color);
  --keyword-namespace-color: var(--error-color);
  --boolean-color: var(--error-color);
  --class-color: var(--error-color);
  --id-color: var(--error-color);
}

[data-color=success] {
  color: var(--success-fg);
  --string-color: var(--success-fg);
  --symbol-color: var(--success-fg);
  --symbol-namespace-color: var(--success-fg);
  --number-color: var(--success-fg);
  --keyword-color: var(--success-fg);
  --keyword-namespace-color: var(--success-fg);
  --boolean-color: var(--success-fg);
  --class-color: var(--success-fg);
  --id-color: var(--success-fg);
}

/* Clickable stuff */

.link, .clickable {
  cursor: pointer;
}

.link {
  background: none;
  border: none;
  color: var(--link-color);
  cursor: pointer;
  text-decoration: underline;
}

.link:hover {
  text-decoration: none;
  --pill-bg: var(--pill-bg-hover);
}

a.clickable:hover,
:not(tr).clickable:hover {
  text-decoration: underline;
}

/* Button */

.button {
  align-items: center;
  background: var(--button-bg);
  border: 1px solid var(--button-border-color);
  border-radius: 4px;
  color: inherit;
  cursor: pointer;
  display: inline-flex;
  gap: 0.5em;
  font-size: inherit;
  padding: 2px 6px;
  text-decoration: none;
  transition: background 0.15s;
}

.button:hover {
  background: var(--button-hover-bg);
}

.button:has(svg) {
  background: transparent;
  border: 1px solid transparent;
  padding: 0.25em;
}

.button:has(svg):not(:is(.disabled)):hover,
.button:has(svg).selected {
  border-color: var(--button-border-color);
  background: var(--button-hover-bg);
}

.button:has(svg).selected {
  cursor: default;
}

.button:has(svg).disabled {
  color: var(--disabled-icon-button-color);
  cursor: default;
}

.button > svg, .icon {
    display: inline-block;
    width: 1.25em;
    height: 1.25em;
}

/* Tags */

.tag, .button.tag {
  background: var(--tag-bg);
  border: 1px solid var(--tag-border-color);
  display: inline-flex;
  opacity: 0.8;
  border-radius: 4px;
  padding: 2px 8px;
  font-size: 0.9em;
}

.tag[data-color=error], .button.tag[data-color=error] {
  background: var(--error-bg);
  border-color: var(--error-fg);
}

.tag > svg {
  width: 1em;
  height: 1em;
}

/* Alerts */

.alert[data-color=error] {
  background: var(--error-bg);
  border: 1px solid var(--error-fg);
  border-radius: 8px;
  display: block;
  font-size: 1em;
  padding: 18px;
  white-space: normal;
}

.alert > :first-child {
  margin-top: 0;
}

.alert > :last-child {
  margin-bottom: 0;
}

/* Pills */

.pill {
  background: var(--pill-bg);
  bottom: -2px;
  border-radius: 4px;
  border: 1px solid var(--pill-border);
  display: inline-block;
  margin: 0 0 2px;
  padding: 2px 6px;
  position: relative;
  transition: background 0.15s;
}

.pill-ph {
  border: 1px solid transparent;
  background: none;
  padding-left: 0;
}

.pill + .pill {margin-left: 8px}

/* Navbar */

.navbar {
  border-bottom: 1px solid var(--navbar-border);
  padding: 10px 12px;
}

/* Toolbar */

.toolbar {
  background: var(--toolbar-bg);
  border-bottom: 1px solid var(--navbar-border);
  display: flex;
  padding: 0 12px 0 0;
}

.toolbar a {
  text-decoration: none;
}

/* Tabs */

.tab {
  color: var(--tab-fg);
  padding: 12px 12px;
}

.tab.clickable:not(.tab-selected):hover {
  background: var(--tab-hover-bg);
  text-decoration: none;
}

.tab-selected:hover {
  background: var(--toolbar-bg);
  cursor: default;
}

.tab-selected {
  padding-bottom: 11px;
  margin-bottom: -1px;
  border-bottom: 2px solid var(--active-tab-border);
}

/* Cards */

.card {
  border-bottom: 1px solid var(--row-border-color);
}

.card-header {
  border-radius: 4px;
  display: flex;
  gap: 1em;
  align-items: center;
  padding: 6px 12px;
}

.card-header.clickable:hover {
  text-decoration: none;
}

.card:has(.card-header + .card-body) {
  background: var(--active-card-bg);
  padding: 12px;
}

.card:has(.card-body) .card-header,
.card-header:hover {
  background: var(--active-card-hover-bg);
}

.card [data-folded] {
  margin-left: 1.5em;
}

.card-body {
  padding: 12px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

/* Syntax/data types */

.string, [data-type=string] {color: var(--string-color);}
.symbol .name, [data-type=symbol] .name {color: var(--symbol-color);}
.symbol .namespace, [data-type=symbol] .namespace {color: var(--symbol-namespace-color);}
.number, [data-type=number] {color: var(--number-color);}
.keyword .name, [data-type=keyword] .name {color: var(--keyword-color);}
.keyword .namespace, [data-type=keyword] .namespace {color: var(--keyword-namespace-color);}
.keyword .hiccup-id, [data-type=keyword] .hiccup-id {color: var(--id-color); font-weight: bold;}
.boolean, [data-type=boolean] {color: var(--boolean-color); font-weight: bold;}
.keyword .hiccup-class, [data-type=keyword] .hiccup-class {color: var(--class-color);}
.core-fn, [data-type=core-fn] {color: var(--boolean-color); font-weight: bold;}

.tuple-item {
  display: inline-block;
  padding: 0 4px;
}

.tuple-item + .tuple-item {
  margin-left: 6px;
}

.tuple + .tuple {
  display: block;
}

.coll .tuple + .tuple {
  margin-left: 1.05em;
}

/* Tables */

.table {
  border-collapse: collapse;
  width: 100%;
}

.table-auto {
  width: auto;
}

.table-auto th:not(:last-child, .no-padding),
.table-auto td:not(:last-child, .no-padding) {
  padding-right: 1em;
}

.table .no-padding {
  padding: 0;
}

.table th {
  font-weight: normal;
  padding: 6px;
  text-align: left;
  white-space: nowrap;
}

.table th:has(.icon) {
  display: flex;
  align-items: center;
}

.table th .icon:not(:first-child) {
  margin-left: 0.5em;
}

.table thead th:not(:has(.icon)) code {
  margin-right: 1.75em;
}

.table th:empty {
  min-width: 1.25em;
}

.table thead {
  background: var(--toolbar-bg);
}

.table thead th {
  padding: 12px 6px;
}

.table th:first-child,
.table td:first-child {
  padding-left: 12px;
}

.table td {
  padding: 6px;
  position: relative;
  vertical-align: middle;
}

.table tbody > tr:hover > td,
.table tbody > tr:hover > th {
  background: var(--row-hover);
}

.table tbody > tr > td,
.table tbody > tr > th {
    border-bottom: 1px solid var(--row-border-color);
}

.table .button,
.table .icon-button {
  opacity: 0;
}

.table tr:hover > td .button,
.table tr:hover > td .icon-button {
  opacity: 1;
}

/* Dictionary tables */

.dictionary:not(.table-auto):not(.keyless) th {
  width: 15em;
}

/* Source listings */

.source {
  line-height: 1.5;
}

.source-listing {
  padding: 12px;
}

/* Hiccup */

.hiccup {
  .keyword .name, [data-type=keyword] .name {color: var(--keyword-light-color);}
  .keyword .namespace, [data-type=keyword] .namespace {color: var(--keyword-color);}
  .hiccup-tag .name {color: var(--keyword-color);}
  .hiccup-tag .namespace {color: var(--keyword-namespace-color);}
}

/* Folding */

[data-folded] {
  position: relative;
}

[data-folded]::before {
  position: absolute;
  left: -1.5em;
  padding-right: 1.5em;
}

.coll > .coll:nth-child(2) > :nth-child(2)[data-folded]::before {
  left: -2em;
}

.coll > .coll:nth-child(2) > .coll:nth-child(2) > :nth-child(2)[data-folded]::before {
  left: -2.5em;
}

.coll > .coll:nth-child(2) > .coll:nth-child(2) > .coll:nth-child(2) > :nth-child(2)[data-folded]::before {
  left: -3em;
}

[data-folded=true]::before {
  content: "▶";
}

[data-folded=false]::before {
  content: "▼";
  opacity: 0.2;
  transition: opacity 0.15s;
}

[data-folded=false]:hover::before {
  opacity: 1;
}

/* Panels */

.panel + .panel {
  margin-top: 3em;
}

.panel > .source {
  padding: 2em 2em 0;
}
